@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400&family=Sarina&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body{
    margin: 0;
    background-color: rgb(37, 37, 46);
    color: white;
}

nav {
    z-index: 1;
    position: sticky;
    width: 100%;
    height: 5vh;
    background-color: lavenderblush;
    text-align: right;
    display: flex;
    align-items: right;
}

nav > a{
    padding: 15px;
    text-decoration: none;
    color: rgb(37, 37, 46);

}

nav > a:hoover{
    animation-delay: 2s;

}

h1{
    font-size: 15pt;
}


header, footer{
    position: relative;
    width: 100%;
    height: 5vh;
    border: #ff5be9 solid 1.5px;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.One, .Two, .Three{
    width: 30%;
    height: 50vh;
    padding: 10px;
    border: white solid 3px;
    text-align: center;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

img{
    height: 50px;
}


.img-sm{
    height: 250px;
    width: 250px;
    padding: 10px;
}